html {
    --header-height: 6.67vh;
    --bg-color: #F5F5F5;
}

.select {  
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

select:focus {
    outline: none;
}

.text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.25px;
    color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
    margin: 0;
}

.header-menu-items:hover,
.fav-card-row .status img:hover, 
.card-top-action .settings img:hover, 
.card-top-action .like img:hover,
.save-btn .timer:hover, 
.save_pdf-button:hover, 
.three_points-button:hover {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    width: 100vw;
    box-sizing: border-box;

    padding-left: 1.875vw;
    padding-right: 1.875vw;

    background: #fff;
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-logo {
    width: 132px /* 10.3125vw*/;
}

.header-menu {
    width: 328px/* 25.625vw */;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.header-menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.8125vw;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    
}

.header-menu-items {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
}

.header-menu-items:hover {
    color: #23b04b7c;
    border-bottom: 2px solid #23b04b7c;
}

.header-menu-items span {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

.container {
    --main-content-width: 936px;
    position: relative;
    top: calc(52px + var(--header-height));
    width: 100vw;
    
}

.feed {
    position: relative;
}

.feed.main {
    width: 936px;
    left: calc((100vw - 936px)/2);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.search a {
    height: 24px;
}

.search input {
    width: 90%;
    height: 100%; 
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.search input:focus {
    outline: none;
}
 
input[type=text]::-ms-clear, 
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.fav {
    margin-top: 48px;
    margin-left: 6px;
}

.fav-header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 24px;
}

.fav-header .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.15px;
}

.fav-card {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px;
    box-sizing: border-box;

    width: 925px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

.fav-card-header, 
.fav-card-row,
.fav-card-row .title,
.fav-card-row .status {   
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.fav-card-header {
    font-weight: 600;
    height: 44px;
}

.fav-card-header .title,
.fav-card-row .title {
    width: 736px;
}

.fav-card-header .title .text {
    padding-left: 64px;
}

.fav-card-row {   
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 400;
}

.fav-card-row .title a.img-link {
    height: 40px;
}

.fav-card-row .title img {
    padding-left: 12px;
    padding-right: 16px;
}

.fav-card-row .title .text {
    color: rgba(0, 0, 0, 0.87);
}

.fav-card-row .status .select select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px 2px 8px;
    margin-right: 12px;
    gap: 4px;

    width: 100%;
    height: 24px;

    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 3px;
}

.select img {
    position: absolute;
    top: 10px;
    right: 6px;
    pointer-events: none;
}

.fav-card-row .status img {
    padding-left: 16px;
    /* padding-right: 20px; */
}

/* АНАЛИТИКА */

.feed.analytics {
    width: 1088px;
    left: calc((100vw - 1088px)/2);
    
}

.card-data, 
.card-top,
.card-top-pic,
.card-top-action,
.card-action_bar {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-grow: 0;
}


.card-data {
    flex-direction: column;
    padding: 0px;
    width: 1088px;
    height: 572px;

    background: #FFFFFF;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    align-self: stretch;
}

.card-top {
    flex-direction: row;
    padding: 0px;
    
    width: 100%;
    height: 72px;
    
    align-self: stretch;

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-top-pic {
    flex-direction: row;
    padding: 16px;
    gap: 10px;

    box-sizing: border-box;

    width: 72px;
    height: 72px;
}

.card-top-full_name {
    flex-direction: column;
    justify-content: center;
    padding: 0px;

    height: 72px;

    align-self: stretch;
}

.card-top-full_name .title {
    display: block;
    padding-top: 14px;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.25px;

    text-align: left;
    color: #000000DE;
}

.card-top-full_name .subtitle {
    height: 16px;
    padding-top: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #00000099;
}

.card-top-full_name .subtitle .mid-subtitle {
    font-weight: 900;
}

.card-top-action {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    height: 56px;
    
    flex-grow: 1;
}

.card-top-action .work,
.card-top-action .like,
.card-top-action .settings
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex: none;
}

.card-top-action .work {
    gap: 10px;
    width: 113px;
    height: 24px;
}

.card-top-action .like {
    padding-left: 8px;
}

.card-top-action .settings {
    padding: 16px;
}


.card-top-action .work .select select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px 2px 8px;
    margin-right: 12px;
    gap: 4px;

    width: 100%;
    height: 24px;

    font-size: 14px;
    letter-spacing: 0.25px;
    
    border: none;
    /* border: 1px solid #23B04A; */
    outline: 2px solid #23B04A;
    /* outline-offset: 0px; */
    color:#23B04A;
    border-radius: 2px;
}

.select img {
    position: absolute;
    top: 10px;
    right: 8px;
    pointer-events: none;
}

.card-action_bar {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 16px;
    gap: 24px;

    box-sizing: border-box;
    width: 100%;
    height: 64px;

    align-self: stretch;
}

.list_item,
.save-btn {
    display: flex;
    flex-direction: row;
    height: 40px;

    flex: none;
    flex-grow: 0;
}

.list_item,
.list_item .select select,
.save-btn .timer,
.save_pdf,
.save_pdf-button
{
    display: flex;
    align-items: center;
}

.list_item {
    padding: 8px 12px 8px 8px;
    gap: 16px;  

    width: 195px;

    border-radius: 4px;
    order: 0;
}

.list_item .select select {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-right: 40px;
    padding-left: 8px;

    color: rgba(0, 0, 0, 0.87);

    border: none;
    background: none;
}

.list_item .select img {
    top: 0;
    right: 0;
}

.save-btn {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;

    width: 253px;
}

.save-btn .timer {
    box-sizing: border-box;

    flex-direction: row;
    justify-content: center;
    padding: 8px;

    width: 40px;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: none;
}

.save_pdf {
    box-sizing: border-box;

    flex-direction: row;
    padding: 0px 8px 0px 0;
    gap: 10px;

    width: 189px;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.save_pdf-button {
    background: none;
    border: none;

    padding: 0px 0px 0px 12px;
    height: 100%;
    color: #23B04A;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.three_points-button {
    padding: 0;
    border: none;
    background: none;

    width: 24px;
    height: 24px;
}

.three_points-button img {
    padding: 0px 0 0px 4px;
    width: 24px;
    height: 24px;
    border-left: 1px solid #C2E7C8;
}

.card-dates,
.date_input,
.dates {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-dates {
    padding: 8px 16px;
    width: 1088px;
    height: 56px;
}

.date_input {
    padding: 0px;
    width: 400px;
    height: 40px;
}

.date_at, .date_to {
    position: relative;
}

.date_input .date_at #date_at-calendar,
.date_input .date_to #date_to-calendar {
    position: absolute;
    top: calc((40px - 16px)/2);
    right: 8px;
    pointer-events: none;
}

.dates  {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    padding-inline-start: 0px;

    padding: 10px 8px;
    gap: 8px;

    width: 180px;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.12);

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date_at .text, .date_to .text  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    
    color: #3C3C3C;
}

.card-times,
.chips-wrapper,
.chips {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-times {
    padding: 8px 16px 20px;
    gap: 16px;
    
    width: 1088px;
    height: 60px;

    flex: none;
    align-self: stretch;
}

.chips-wrapper {
    padding: 0px;
    gap: 8px;

    width: 494px;
    height: 32px;

    flex: none;
    align-self: stretch;
}

.chips {
    justify-content: center;
    padding: 6px 12px;
    gap: 10px;

    background: rgba(33, 33, 33, 0.08);
    border-radius: 16px;

    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    flex: none;
    flex-grow: 0;
}

.chips.active {
    background: #C2E7C8;
}

.card-table {
    padding: 12px 16px;

    width: 100%;
    height: 319px;

    flex: none;
    align-self: stretch;
}

.card-table table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.38);
}
