html {
    --header-height: 6.67vh;
    --bg-color: #F5F5F5;
    --white-color: #FFFFFF;
    --green-color: #23B04A;
    --green-gray-color: #C2E7C8;
    --red-color: #b02323;
    --blue-color: #2E9BC2;
    --black-op12-color: rgba(0, 0, 0, 0.12);
    --black-op38-color: rgba(0, 0, 0, 0.38);
    --black-op60-color: rgba(0, 0, 0, 0.6);
    --black-op87-color: rgba(0, 0, 0, 0.87);

}

.select {  
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

select:focus {
    outline: none;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.text-green {color: var(--green-color)}
.text-red {color: var(--red-color)}
.text-blue {color: var(--blue-color)}

a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
    margin: 0;
}


.header-menu-items:hover,
.fav-card-row .status img:hover, 
.card-top-action .settings img:hover, 
.card-top-action .like img:hover,
.save-btn .timer:hover, 
.save_pdf-button:hover, 
.three_points-button:hover {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    width: 100vw;
    box-sizing: border-box;

    padding-left: 1.875vw;
    padding-right: 1.875vw;

    background: var(--white-color);
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-logo {
    width: 132px /* 10.3125vw*/;
}

.header-menu {
    width: 328px/* 25.625vw */;
}

.header-menu-items {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.8125vw;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);

    letter-spacing: 1.25px;
}

.header-menu-items {
    position: relative;
    height: 100%;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: var(--black-op60-color);
}

.header-menu-items:hover {
    color: #23b04b7c;
    border-bottom: 2px solid #23b04b7c;
}

.header-menu-items span {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

.container {
    --main-content-width: 936px;
    position: relative;
    top: calc(52px + var(--header-height));
    /* width: 100vw; */ 
}

.feed {
    position: relative;
}

.feed.main {
    width: 936px;
    left: calc((100vw - 936px)/2);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;

    border: 1px solid var(--black-op12-color);
    border-radius: 5px;
}

.search a {
    height: 24px;
}

.search input {
    display: flex;
    align-items: center;

    width: 90%;
    height: 100%; 

    box-sizing: border-box;
    border: none;
    background: none;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--black-op38-color);
}

.search input::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--black-op38-color);
}

.search input:focus {
    outline: none;
}
 
input[type=text]::-ms-clear, 
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="search"] { padding: 0 }

.fav {
    margin-top: 48px;
    margin-left: 6px;
}

.fav-header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 24px;
}

.fav-header .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.15px;
    color: var(--black-op60-color);
}

.fav-card {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px;
    margin-bottom: 200px;
    box-sizing: border-box;

    width: 925px;

    box-sizing: border-box;
    background: #FFFFFF;
    /* border: 1px solid var(--black-op12-color); */
    outline: 1px solid var(--black-op12-color);
    border-radius: 4px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

.fav-card-header, 
.fav-card-row,
.fav-card-row .title,
.fav-card-row .status {   
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.fav-card-header {
    height: 44px;

    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;

    color: var(--black-op60-color);
}

.fav-card-header .title,
.fav-card-row .title {
    width: 736px;
}

.fav-card-header .title .text {
    padding-left: 64px;
}

.fav-card-row {   
    height: 56px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--black-op12-color);
    font-weight: 400;
}

.fav-card-row .title a.img-link {
    height: 40px;
}

.fav-card-row .title img {
    padding-left: 12px;
    padding-right: 16px;
}

.fav-card-row .title .text {
    color: var(--black-op87-color);
}

.fav-card-row .status .select select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 24px 3px 8px;
    gap: 4px;

    box-sizing: border-box;
    /* width: 100%; */
    /* height: 24px; */

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: var(--black-op60-color);

    border: 1px solid var(--black-op38-color);
    /* outline: 1px solid var(--black-op38-color); */
    border-radius: 3px;
}

.fav-card-row .select img {
    position: absolute;
    top: 11px;
    right: 9px;
    pointer-events: none;
}

.fav-card-row .status>img {
    padding-right: 12px;
    padding-left: 16px;
}

/* АНАЛИТИКА */

.feed.analytics {
    width: 1088px;
    left: calc((100vw - 1088px)/2);
    
}

.card-data, 
.card-top,
.card-top-pic,
.card-top-action,
.card-action_bar {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-grow: 0;
}


.card-data {
    flex-direction: column;
    padding: 0px;
    width: 1088px;
    height: 572px;

    background: #FFFFFF;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    align-self: stretch;
}

.card-top {
    flex-direction: row;
    padding: 0px;
    
    width: 100%;
    height: 72px;
    
    align-self: stretch;

    border-bottom: 1px solid var(--black-op12-color);
}

.card-top-pic {
    flex-direction: row;
    padding: 16px;
    gap: 10px;

    box-sizing: border-box;

    width: 72px;
    height: 72px;
}

.card-top-full_name {
    flex-direction: column;
    justify-content: center;
    padding: 0px;

    height: 72px;

    align-self: stretch;
}

.card-top-full_name .title {
    display: block;
    padding-top: 14px;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;


    text-align: left;
    color: #000000DE;
}

.card-top-full_name .subtitle {
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--black-op60-color);
}

.card-top-full_name .subtitle .mid-subtitle {
    font-weight: 700;
    color: var(--black-op38-color);
    letter-spacing: 0px;
}

.card-top-full_name .subtitle span {
    display: inline-block;
    height: 16px;
}

.card-top-action {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    height: 56px;
    
    flex-grow: 1;
}

.card-top-action .work,
.card-top-action .like,
.card-top-action .settings
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex: none;
}

.card-top-action .work {
    gap: 10px;
    width: 113px;
    height: 24px;
}

.card-top-action .like {
    padding-left: 8px;
}

.card-top-action .settings {
    padding: 16px;
}


.card-top-action .work .select select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px 2px 8px;
    margin-right: 12px;
    gap: 4px;

    width: 100%;
    height: 24px;

    font-size: 14px;
    letter-spacing: 0.25px;
    
    border: none;
    /* border: 1px solid #23B04A; */
    outline: 2px solid var(--green-color);
    /* outline-offset: 0px; */
    color:var(--green-color);
    border-radius: 2px;
}

.card-top-action .select img {
    position: absolute;
    top: 10px;
    right: 8px;
    pointer-events: none;
}

.card-action_bar {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 16px;
    gap: 24px;

    box-sizing: border-box;
    width: 100%;
    height: 64px;

    align-self: stretch;
}

.list_item,
.save-btn {
    display: flex;
    flex-direction: row;
    height: 40px;

    flex: none;
    flex-grow: 0;
}

.list_item,
.list_item .select select,
.save-btn .timer,
.save_pdf,
.save_pdf-button
{
    display: flex;
    align-items: center;
}

.list_item {
    padding: 8px 12px 8px 8px;
    gap: 16px;  

    width: 195px;

    border-radius: 4px;
    order: 0;
}

.list_item .select select {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-right: 40px;
    padding-left: 8px;

    color: var(--black-op87-color);

    border: none;
    background: none;
}

.list_item .select img {
    position: absolute;
    top: 0;
    right: 0;
}

.save-btn {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;

    width: 253px;
}

.save-btn .timer {
    box-sizing: border-box;

    flex-direction: row;
    justify-content: center;
    padding: 8px;

    width: 40px;
    height: 40px;

    border: 1px solid var(--black-op12-color);
    border-radius: 4px;
    background: none;
}

.save_pdf {
    box-sizing: border-box;

    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    gap: 10px;

    width: 189px;
    height: 40px;

    border: 1px solid var(--black-op12-color);
    border-radius: 4px;
}

.save_pdf-button {
    background: none;
    border: none;

    box-sizing: border-box;
    padding: 0px 0px 0px 16px;
    height: 100%;
    color: var(--green-color);

    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.three_points-button {
    box-sizing: border-box;
    padding: 0px 8px 0px 0px;
    border: none;
    background: none;

    /* width: 24px; */
    height: 24px;
}

.three_points-button img {
    padding: 0px 0px 0px 4px;
    width: 24px;
    height: 24px;
    border-left: 1px solid var(--green-gray-color);
}

.card-dates,
.date_input,
.dates {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-dates {
    padding: 0px 16px;
    width: 1088px;
    height: 56px;
}

.date_input {
    padding: 0px;
    width: 400px;
    height: 40px;
}

.date_at, .date_to {
    position: relative;
}

.date_input .date_at #date_at-calendar,
.date_input .date_to #date_to-calendar {
    position: absolute;
    top: calc((40px - 16px)/2);
    right: 8px;
    pointer-events: none;
}

.dates  {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    padding-inline-start: 0px;

    padding: 10px 8px;
    gap: 8px;

    width: 180px;
    height: 40px;

    border: 1px solid var(--black-op12-color);

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date_at .text, .date_to .text  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    
    color: #3C3C3C;
}

.card-times,
.chips-wrapper,
.chips {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-times {
    box-sizing: border-box;
    padding: 8px 16px 0;
    gap: 16px;
    
    width: 1088px;
    height: 60px;

    flex: none;
    align-self: stretch;
}

.chips-wrapper {
    padding: 0px;
    gap: 8px;

    width: 494px;
    height: 32px;

    flex: none;
    align-self: stretch;
}

.chips {
    justify-content: center;
    padding: 6px 12px;
    gap: 10px;

    background: rgba(33, 33, 33, 0.08);
    border-radius: 16px;

    color: var(--black-op60-color);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    user-select: none;

    flex: none;
    flex-grow: 0;
}

.chips.active {
    background: var(--green-gray-color);
}

.card-table {
    padding: 12px 16px;
    width: 100%;

    flex: none;
    align-self: stretch;

    overflow-y: auto;
    box-sizing: border-box;
    height: 319px;
}

.card-table::-webkit-scrollbar {
    width: 0px
}

.card-table table {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    table-layout: fixed;
    border-collapse: collapse; 

}

.card-table .text:not(.text-green, .text-red, .text-blue) {color: var(--black-op38-color)}

.card-table-header-row th {gap: 10px;}

.card-table-header-row th, .card-table-row td {
    padding: 12px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.card-table-header-row .duration {width: 160px;}
.card-table-header-row .type {width: 130px;}
.card-table-header-row .jobs {width: 486px;}
.card-table-header-row .result {width: calc(140px - 20px - 6px - 0px);}
.card-table-header-row .user {width: 140px;}
.card-table-header-row .check, .card-table-row .check {
    width: 20px;
    padding-right: 6px;
    padding-left: 0px;
}

.card-table-row {
    vertical-align: top;
    border-top: 1px solid rgba(33, 33, 33, 0.08);
}

.card-table-row td {
    height: 125px;
}

.card-table-row td .text {
    display: block;
    letter-spacing: 0.25px;
}

.card-table-row .type .inner-type,
.card-table-row .jobs .text,
.card-table-row .result .text {
    color: var(--black-op60-color)
} 

.card-table-row .text.primary-action b {
    line-height: 24px;
    letter-spacing: 0.1px;
}

.card-table-row .user .text {
    color: var(--blue-color)
}

/* ОШИБКА 404 */

h1, h2, p {
    display: block;
    margin: 0;
    padding: 0;
}

.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 128px;
    padding: 18px 24px;
    border-radius: 5px;
    background-color: var(--white-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.14), 
        0px 2px 4px rgba(0, 0, 0, 0.12), 
        0px 2px 5px rgba(0, 0, 0, 0.2);
}

.error-title { 
    margin-bottom: 12px;
    font-size: 20px;
    color: var(--black-op87-color);
}

.error-text { 
    padding-top: 6px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: var(--black-op60-color);
    border-top: 1px solid var(--black-op12-color);
}