<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитика</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="/" class="header-logo header-items">
                <img src="/assets/icons/header-logo.svg" alt="Logo">
            </a>
            <nav class="header-menu header-items">
                <a href="/" class="header-menu-items text" >
                    <span >ГЛАВНАЯ</span>
                </a>
                <a href="/analytics" class="header-menu-items text"
                style="
                    color: #23B04A;
                    border-bottom: 2px solid #23B04A;
                    ">
                    <span>АНАЛИТИКА</span>
                </a>  
            </nav>
            <a href="#" class="header-user header-items">
                <img src="/assets/icons/user-icon.svg" alt="User icon">
            </a>
        </div>
    </header>
    <div class="container">
        <div class="feed analytics">
            <div class="card-data">
                <div class="card-top">
                    <div class="card-top-pic">
                        <img id="device-img" src="/assets/icons/unknown_device-icon.svg" alt="Device picture">
                    </div>
                    <div class="card-top-full_name">
                        <span id="card-header-title" class="title text">pH-метр Mettler-Toledo International, Inc. SevenCompact S220</span>
                        <div class="subtitle text">
                            <span id="subtitle1" class="left-subtitle">00.0.000-0.000 </span>
                            <span class="mid-subtitle">&nbsp; &bull; &nbsp;</span>
                            <span id="subtitle2" class="right-subtitle"> 00-000000</span>
                        </div>
                    </div>
                    <div class="card-top-action">
                        <div class="work">
                            <div class="select">
                                <select class="text" name="status" id="status" >
                                    <option id="status-free" value="free">Свободен</option>
                                    <option id="status-busy" value="busy">В работе</option>
                                </select>
                                <img src="/assets/icons/arrow_drop_down_small.svg" alt="Arrow drop down">
                            </div>
                        </div>
                        <div class="like">
                            <img id="fav-img" src="/assets/icons/fav-icon-1.svg" alt="Favorite icon">
                        </div>
                        <div class="settings">
                            <img src="/assets/icons/settings-icon.svg" alt="Settings icon">
                        </div>
                    </div>
                </div>
                <div class="card-action_bar">
                    <div class="list_item">
                        <div class="select">
                            <select class="text" name="status" id="status" >
                                <option value="busy">Работа прибора</option>
                                <option value="busy">Свободен</option>
                            </select>
                            <img src="/assets/icons/arrow_drop_down_medium.svg" alt="Arrow drop down">
                        </div>
                    </div>
                    <div class="save-btn">
                        <button class="timer"><img src="/assets/icons/timer-icon.svg" alt="Timer icon"></button>
                        <div class="save_pdf">
                            <button class="save_pdf-button">СОХРАНИТЬ&nbsp;PDF</button>
                            <button class="three_points-button"><img src="/assets/icons/three-points.svg" alt="Three points"></button>
                        </div>
                    </div>
                </div>
                <div class="card-dates">
                    <div class="date_input">
                        <div class="date_at">
                            <input 
                                id="date_at-input"
                                class="dates text" 
                                type="datetime-local"
                                name=""> 
                            <img id="date_at-calendar" src="/assets/icons/calendar-icon.svg" alt="Calendar icon">
                        </div>
                        <img class="arrow-icon" src="/assets/icons/arrow-lr-icon.svg" alt="Left to right arrow">
                        <div class="date_to">
                            <input 
                                id="date_to-input"
                                class="dates text" 
                                type="datetime-local" 
                                name=""> 
                            <img id="date_to-calendar" src="/assets/icons/calendar-icon.svg" alt="Calendar icon">
                        </div>
                    </div>
                </div>
                <div class="card-times">
                    <div class="chips-wrapper text">
                        <span id="day" class="chips" onclick="chipsSwitch('day')">День</span>
                        <span id="week" class="chips" onclick="chipsSwitch('week')">Неделя</span>
                        <span id="twoWeeks" class="chips" onclick="chipsSwitch('twoWeeks')">2 недели</span>
                        <span id="month" class="chips" onclick="chipsSwitch('month')">Месяц</span>
                        <span id="threeMonths" class="chips" onclick="chipsSwitch('threeMonths')">3 месяца</span>
                        <span id="halfYear" class="chips" onclick="chipsSwitch('halfYear')">Полгода</span>
                        <!-- <span class="chips">Год</span> -->
                    </div>
                </div>
                <div class="card-table">
                    <table class="text">
                        <thead class="card-table-header">
                            <tr class="card-table-header-row">
                                <th class="duration text">Начало</th>
                                <th class="type text">Тип работ</th>
                                <th class="jobs text">Работы</th>
                                <th class="result text">Результат</th>
                                <th class="check text"></th>
                                <th class="user text">Пользователь</th>
                            </tr>
                        </thead>
                        <tbody id="card-table-body" class="card-table-body">
                            <!-- <tr id="card-table-row-1" class="card-table-row">
                                <td class="duration">
                                    <span class="text">09.10.2021, 15:46</span>
                                </td>
                                <td class="type">
                                    <span class="status text text-green">В работе</span>
                                    <span class="inner-type text">Измерение</span>
                                </td>
                                <td class="jobs">
                                    <span class="text primary-action">
                                        <b>Образец/серия:</b> 000100057935_170000010325_0000251849
                                    </span>
                                </td>
                                <td class="result">
                                    <span class="text">
        
                                    </span>
                                </td>
                                <td class="check">
                                    <img src="/assets/icons/check-icon.svg" alt="Check icon">
                                </td>
                                <td class="user">
                                    <span class="text">
                                        morozovava
                                    </span>
                                </td>
                            </tr>
                            <tr id="card-table-row-2" class="card-table-row">
                                <td class="duration">
                                    <span class="text">12.10.2021, 12:17</span>
                                </td>
                                <td class="type">
                                    <span class="status text text-green">В работе</span>
                                    <span class="inner-type text">Калибровка</span>
                                </td>
                                <td class="jobs">
                                    <span class="text">
                                        <b>Номер колонки:</b> Колонка 2
                                    </span>
                                    <span class="text">
                                        <b>Образец:</b> Образец 2
                                    </span>
                                    <span class="text">
                                        <b>Образец:</b> образец 1
                                    </span>
                                    <span class="text">
                                        <b>Метод:</b> метов тестовый
                                    </span>
                                    <span class="text">
                                        <b>Номер колонки:</b> Колонка 1
                                    </span>
                                </td>
                                <td class="result">
                                    <span class="text">
                                        Промывка с указанием вещества: Вещество
                                         Комментарий:
                                            Больше сорока символов замещать через JS
                                        тест успешности
                                    </span>
                                </td>
                                <td class="check">
                                    <img src="/assets/icons/check-icon.svg" alt="Check icon">
                                </td>
                                <td class="user">
                                    <span class="text">
                                        morozovava
                                    </span>
                                </td>
                            </tr>
                            <tr id="card-table-row-3" class="card-table-row">
                                <td class="duration">
                                    <span class="text">12.10.2021, 12:17</span>
                                </td>
                                <td class="type">
                                    <span class="status text text-green">В работе</span>
                                    <span class="inner-type text">Калибровка</span>
                                </td>
                                <td class="jobs">
                                    <span class="text">
                                        <b>Номер колонки:</b> Колонка 2
                                        <b>Образец:</b> Образец 2
                                        <b>Образец:</b> образец 1
                                        <b>Метод:</b> метов тестовый
                                        <b>Номер колонки:</b> Колонка 1
                                    </span>
                                </td>
                                <td class="result">
                                    <span class="text">
                                        Промывка с указанием вещества: Вещество
                                         Комментарий:
                                            Больше сорока символов замещать через JS
                                        тест успешности 
                                    </span>
                                </td>
                                <td class="check">
                                    <img src="/assets/icons/check-icon.svg" alt="Check icon">
                                </td>
                                <td class="user">
                                    <span class="text">
                                        morozovava
                                    </span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    <script>
        if (!window.location.href.includes('?id=')) {
            console.log(window.location.href)
            window.location.href = window.location.href + '?id=' + (getCookie('analytics-id') || 1)
        } 
        else {
            let url = window.location.href;
            let i = url.search(/id=*[^\&]+/g);
            let id = url.slice(i + 3)

            renderCard(id);
            
            setCookie('analytics-id', id);

            console.log(getCookie('analytics-id'))
        }
        
        async function renderCard(id) {
            const res = await fetch('/api/analytics?id=' + id);
            if (res.ok) { 
                let cardInfo = await res.json();
                // let {id, cardHeader, cardFilters} = cardInfo

                await $('#device-img').attr('src', cardInfo.cardHeader.imgSrc)
                await $('#card-header-title').html(cardInfo.cardHeader.title)
                await $('#subtitle1').html(cardInfo.cardHeader.subtitle1)
                await $('#subtitle2').html(cardInfo.cardHeader.subtitle2)
                if (await cardInfo.cardHeader.status === 'В работе') {
                    await $('#status-free').attr('selected', false)
                    await $('#status-busy').attr('selected', true)
                } else if (await cardInfo.cardHeader.status === 'Свободен') {
                    await $('#status-busy').attr('selected', false)
                    await $('#status-free').attr('selected', true)
                }
                if (await cardInfo.cardHeader.isFavorite) {
                    await $('#fav-img').attr('src', '/assets/icons/fav-icon-1.svg')
                }
                else {
                    await $('#fav-img').attr('src', '/assets/icons/no-fav-icon-1.svg')
                }

                await $('#date_at-input').attr('value', cardInfo.cardFilters.dateAt)
                await $('#date_to-input').attr('value', cardInfo.cardFilters.dateTo)
                switch (cardInfo.cardFilters.selectedInterval) {
                    case 1:
                        await $('#day').attr('class', 'chips active')
                        break;
                    case 7:
                        await $('#week').attr('class', 'chips active')
                        break;
                    case 14:
                        await $('#twoWeeks').attr('class', 'chips active')
                        break;
                    case 30:
                        await $('#month').attr('class', 'chips active')
                        break;
                    case 90:
                        await $('#threeMonths').attr('class', 'chips active')
                        break;
                    case 180:
                        await $('#halfYear').attr('class', 'chips active')
                        break;
                    default:
                        break;
                }

                let tbody = $('#card-table-body')

                for (const row in cardInfo.cardTableRows) {
                    if (Object.hasOwnProperty.call(cardInfo.cardTableRows, row)) {
                        const el = cardInfo.cardTableRows[row];
                        tbody.append(`
                            <tr id="card-table-row-${el.id}" class="card-table-row"><tr>
                        `)
                        let iRow = $(`#card-table-row-${el.id}`);

                        iRow.append(`
                            <td class="duration">
                                <span class="text">${el.date}</span>
                            </td>
                            <td class="type">
                                <span class="status text text-green">${el.jobStatus}</span>
                                <span class="inner-type text">${el.jobType}</span>
                            </td>
                            <td id="jobs-${el.id}" class="jobs"></td>
                        `)
                        for (const str in el.jobs) {
                            if (Object.hasOwnProperty.call(el.jobs, str)) {
                                const str1 = el.jobs[str];
                                $(`#jobs-${el.id}`).append(`
                                    <span class="text">
                                        <b>${str1.header}</b> ${str1.text}
                                    </span>
                                `)
                            }
                        }

                        if (el.result.length > 40) {
                            let tmp = el.result.slice(0, 41) + '<br>...'
                            iRow.append(`
                                <td class="result">
                                    <span class="text" title="${el.result}">
                                        ${tmp}
                                    </span>
                                </td> 
                            `)
                            
                        } 
                        else {
                            iRow.append(`
                                <td class="result">
                                    <span class="text">
                                        ${el.result}
                                    </span>
                                </td> 
                            `)
                        }
                        
                        if (el.check) {
                            iRow.append(`
                                <td class="check">
                                    <img src="/assets/icons/check-icon.svg" alt="Check icon">
                                </td>
                            `)
                        } else {
                            iRow.append(`
                                <td class="check">

                                </td>
                            `)
                        }
                        iRow.append(`
                            <td class="user">
                                <a target="_blank" href=" ${el.user.link}" class="text">
                                    ${el.user.name}
                                </a>
                            </td>
                        `)
                        
                    }
                }
            } 
            else {
                console.log("Ошибка HTTP: " + res.status);
                return;
            }
        }

        function setCookie(name, value, options = {}) {
            options = {
            path: '/',
            ...options
            };

            if (options.expires instanceof Date) {
                options.expires = options.expires.toUTCString();
            }

            let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

            for (let optionKey in options) {
                updatedCookie += "; " + optionKey;
                let optionValue = options[optionKey];
                if (optionValue !== true) {
                    updatedCookie += "=" + optionValue;
                }
            }

            document.cookie = updatedCookie;
        }

        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
    </script>
</body>
</html>